div {
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
}
.menupanel {
    background-color: #C9DDFB;
}
.categoryname {
    text-align: center;
    color: #0042A5;
    font-weight: bold;
    border: none;
    width: 90%;
}
.foodpanel {
    border: 1px solid #004CBE;
    text-align: center;
    width: 100%;
    color: #0042A5;
    background-color: white;
}
.foodpanel .deletebutton {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    background-color: #5092DE;
    cursor: pointer;
}
.foodpanel .deletebutton .text{
    left: 0px;
    top: 0px;
    position: relative;
    font-size: 14px;
    color: #C9DDF5;
}
.foodlabel {
    float: left;
    background-color: #C9DDF5;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #004CBE;
    color: #0042A5;
}
.activeitem {
    background-color: #FBD8D6;
}
.choicegroup {
    width: 100px;
    height: 120px;
    border: 1px solid blue;
    font-size: 80%;
    overflow: hidden;
    float: left;
    margin: 5px;
    background-color: #C9DDF5;
    cursor: pointer;
}
.choicegroup .tableheader {
    margin: 5px;
    width: 90px;
    height: 40px;
    text-align: center;
}
.choicegroup .tabledetail {
    margin: 5px;
    width:90px;
    font-size:80%;
}
.choicegroup .tablenew {
    margin: 5px;
    width: 90px;
    height: 110px;
    text-align: center;
}
.choicegroup .deletebutton {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    left: 82px;
    top: -49px;
    position: relative;
    background-color: #5092DE;
}
.deletebutton .text{
    left: 3px;
    top: 0px;
    position: relative;
    font-size: 14px;
    color: #C9DDF5;
}
.optiongroup {
    width: 100px;
    height: 120px;
    border: 1px solid blue;
    font-size: 80%;
    overflow: hidden;
    float: left;
    margin: 5px;
    background-color: #C9DDF5;
    cursor: pointer;
}
.optiongroup .tableheader {
    margin: 5px;
    width: 90px;
    height: 40px;
    text-align: center;
}
.optiongroup .tabledetail {
    margin: 5px;
    width:90px;
    font-size:80%;
}
.optiongroup .tablenew {
    margin: 5px;
    width: 90px;
    height: 110px;
    text-align: center;
}
.optiongroup .deletebutton {
    width: 15px;
    height: 15px;
    border-radius: 5px;
    left: 82px;
    top: -49px;
    position: relative;
    background-color: #5092DE;
}